html {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #efefef;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 12pt;
}

#message {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -156px;
    margin-top: -26px;

    width: 280px;
    text-align: center;
    padding: 16px;
    background: #1a1a1a;
    color: #efefef;
}

#message a {
    color: #efefef;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 32px;
    overflow: hidden;
}

#banner {
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px;
    bottom: 0;
    border-top: 1px solid black;
    background: #1a1a1a;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 9pt;
}

#banner a {
    text-decoration: none;
    color: white;
}

div.alert {
    display: none;
}

div.alert.visible {
    display: initial;
}

div.alert i.fa {
  padding-right: 4px;
}

div.alert i.fa-lg {
  vertical-align: -5%;
}

#features {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 160px;
    height: 120px;
    z-index: 10;
    border: 1px solid black;
    display: none;
}

#triangles {
    position: absolute;
    top: 0;
    left: 0;
}